<!-- <div class="col pb-4   gap-3 py-2 d-flex flex-column justify-content-center align-items-center" style="box-shadow: 0px 2px 12px 0px rgba(54, 89, 226, 0.12);" >
    <img src={{cardData.imagePath}} width="120" height="120" />
    <h5>{{cardData.title}}</h5>
    <p class="text-center fs-6 text-secondary" style="width: 370px;">{{cardData.description}}</p>
    <button class="btn btn-purple" >Buy</button>
</div> -->
<div class="text-center " style="box-shadow: 0px 2px 12px 0px rgba(111, 133, 221, 0.12);"  >
    <img src={{cardData.imagePath}} width="120" height="120" class="my-3 " />
    <h5 class="my-2 " >{{cardData.title}}</h5>
    <p class="my-2" style="padding: 0px 5rem 0px 5rem ;"  >{{cardData.description}}</p>
    <button class="btn btn-purple my-3" >Buy</button>
</div>