<div class="position-relative " style="font-family: 'Nunito Sans';" >
    <app-navbar></app-navbar>
<div class="container-fluid  g-0 d-flex flex-column align-items-center row-gap-2 mb-5 " >
    
    <div class="text-secondary container  d-flex justify-content-between my-4 " >
        <div class="text-secondary d-flex gap-3 align-items-center " >
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-angle-right"></i>
            Buy Interviews
        </div>
        <i class="fa-solid fa-bars"></i>
    </div>


    <div class="container g-0  row" >
        @for(data of subscriptionData; track data.price){
            <div class="col" >
                <app-subscription-card [cardData]="data" ></app-subscription-card>
            </div>
        }
    </div>

    <div class="container mt-5 gx-3  gap-4 row" >
        @for(data of cardInfo;track data.title){
            <div class="col" >
                <app-card [cardData]="data" ></app-card>
            </div>
        }
    </div>
</div>
</div>