<div
  class="card text-center  py-4 px-3 card-shadow rounded-3 border-0 "
>
  <img class="my-3 align-self-center  " src="{{ cardData.src }}" height="120" width="47.65" />
  <h6 class="my-3">Experience range : {{ cardData.years }} years</h6>
  <h3 class="my-3">₹{{ cardData.price }}/-</h3>
  <div
    class="row  justify-content-between align-items-center   px-3  my-3"
  >
    <button class="button-sm w-auto  btn-purple btn-purple-disable">
      <img src="assets/icons/minus.svg" alt="-" />
    </button>
    <span class="fs-6 w-auto  fw-normal">1 Session</span>
    <button class="button-sm w-auto  btn-purple">
      <img src="assets/icons/plus.svg" alt="+" />
    </button>
  </div>
  <div
    class="row  justify-content-between align-items-center   px-3  my-3"
  >
    <button class="button-sm w-auto  btn-purple btn-purple-disable">
      <img src="assets/icons/minus.svg" alt="-" />
    </button>
    <span class="fs-6 w-auto  fw-normal">30 mins</span>
    <button class="button-sm w-auto  btn-purple">
      <img src="assets/icons/plus.svg" alt="+" />
    </button>
  </div>
  <button class="button btn-purple w-auto   my-3">Buy</button>
</div>
