<div
  class="text-center py-4 px-3 card-shadow rounded-3 "
>
  <img class="my-3" src="{{ cardData.src }}" height="120" width="47.65" />
  <h6 class="my-3">Experience range : {{ cardData.years }} years</h6>
  <h3 class="my-3">₹{{ cardData.price }}/-</h3>
  <div
    class=" px-0 d-flex justify-content-between align-items-center my-3"
  >
    <button class="btn btn-purple btn-purple-disable">
      <img src="assets/icons/minus.svg" alt="-" />
    </button>
    <span class="fs-6 fw-normal">1 Session</span>
    <button class="btn btn-purple">
      <img src="assets/icons/plus.svg" alt="+" />
    </button>
  </div>
  <div
    class=" px-0 d-flex justify-content-between align-items-center my-3"
  >
    <button class="button-sm btn-purple btn-purple-disable">
      <img src="assets/icons/minus.svg" alt="-" />
    </button>
    <span class="fs-6 fw-normal">30 mins</span>
    <button class="button-sm btn-purple">
      <img src="assets/icons/plus.svg" alt="+" />
    </button>
  </div>
  <button class="button btn-purple button-width  my-3">Buy</button>
</div>
